# Python dependencies of the notebooks in this repository.
#
# diffractom (the texture tomography library) is not on PyPI or conda-forge; install it first,
# following https://github.com/msaca-okse/diffractom (release: https://doi.org/10.5281/zenodo.20431767).

dill
h5py
hdf5plugin
ImageD11
matplotlib
matplotlib-scalebar
numba
numpy
orix
pandas
pyFAI
pyopencl
scikit-image
scikit-learn
scipy
tqdm
xfab
